@using BlazorBlogs.Components.Identity

<nav class="navbar navbar-expand-lg navbar-dark menu shadow fixed-top">
	<div class="container">
		<a class="navbar-brand" href="#">
			<img src="images/png/favicon.png" alt="Logo Image" /> Blazor Blogs
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item">
					<NavLink class="nav-link" href="counter">
						<span class="bi bi-plus-square-fill" aria-hidden="true"></span> Counter
					</NavLink>
				</li>
				<li class="nav-item">
					<NavLink class="nav-link" href="weather">
						<span class="bi bi-list-nested" aria-hidden="true"></span> Weather
					</NavLink>
				</li>
				<li class="nav-item">
					<NavLink class="nav-link" href="theming-kit">
						<span class="bi bi-list-nested" aria-hidden="true"></span> Theaming Kit
					</NavLink>
				</li>
				<li class="nav-item">
					<NavLink class="nav-link" href="auth">
						<span class="bi bi-lock" aria-hidden="true"></span> Auth Required
					</NavLink>
				</li>

				<AuthorizeView>
					<Authorized>
						<li class="nav-item">
							<NavLink class="nav-link" href="/Account/Manage">
								<span class="bi bi-person-fill" aria-hidden="true"></span> @context.User.Identity?.Name
							</NavLink>
						</li>
						<li class="nav-item">
							<NavLink class="nav-link" href="#" onclick="document.getElementById('logout-form').submit(); return false;">
								<span class="bi bi-arrow-bar-left" aria-hidden="true"></span> Logout
							</NavLink>
							<LogoutForm id="logout-form" />
						</li>
					</Authorized>
					<NotAuthorized>
						<li class="nav-item">
							<NavLink class="nav-link" href="/Account/Register">
								<span class="bi bi-person" aria-hidden="true"></span> Register
							</NavLink>
						</li>
						<li class="nav-item">
							<NavLink class="nav-link" href="/Account/Login">
								<span class="bi bi-person-badge" aria-hidden="true"></span> Login
							</NavLink>
						</li>
					</NotAuthorized>
				</AuthorizeView>
			</ul>

		</div>
	</div>
</nav>
