<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="/" />
	<link rel="stylesheet" href="css/BlazorSass.min.css" />
	<link rel="stylesheet" href="css/fontawesome.min.css" />
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
				rel="stylesheet">
	<link rel="icon" type="image/png" href="images/png/favicon.png" />
	<HeadOutlet />
</head>

<body>
	<Routes />
	<script src="_framework/blazor.web.js"></script>
	<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
